@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Serif', 'Oswald', sans-serif;
}


body {
  background-color: whitesmoke;
}

.green {
  color: #606c38;
}

.text__shadow {
  text-shadow: 1px 1px 10px black;
}

.button {
  padding: 8px 16px;
  border-radius: 40px;
  background-color: #a7c957;
  color: #f5f5f5;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  font-size: 18px;
  transition: all 300ms ease;
}

.button:hover {
  background-color: #606c38;
  box-shadow: 10px 10px 10px black;
  border: 1px solid black;
}

.button:active {
  position: relative;
  top: 2px;
  left: 1px;
}


/* Nav Section */
.menu {
  visibility: hidden
}

.nav__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background-color: #606c38;
  border-radius: 40px;
  position: sticky;
  top: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  z-index: 200;
  box-shadow: 2px 2px 10px black;
}

.nav__logo--img {
  margin-top: 5px;
  height: 50px;
  width: 300px;
  object-fit: cover;
}

.nav__links {
  justify-content: space-around;
  margin-right: 50px;
}

.nav__link--component {
  color: #f5f5f5;
  text-shadow: 1px 1px 10px black;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  transition: all 300ms ease;
}

.nav__link--component:hover {
  color: #fefae0;
  font-size: 20px;
}

/* Hero Page */

.hero__button {
  margin-top: 40px;
}

.hero__btn {
  font-size: 1.8rem;
}


.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -100px;
  background-image: url("https://images.unsplash.com/photo-1558904541-efa843a96f01?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.hero__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}


.hero__title {
  color: #f5f5f5;
  margin-top: 500px;
  font-size: 5.5rem;
}

/* Services Section */


.services__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.services__title {
  margin-top: 100px;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 24px;
}

.services__sub-title {
  font-size: 1.2rem;
  margin-bottom: 24px;
}

.services__slides {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}



.service__slide {
  padding: 48px 12px;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 236, 236);
  border-radius: 20px;
  margin-bottom: 40px;
}




.service__image--section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__title {
  font-size: 2rem;
  font-weight: 600;
}

.service__image {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.service__description {
  font-size: 1.2rem;
  text-align: center;
}


.owl-nav button span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}

.owl-prev {
  cursor: pointer;
  height: 80px;
  width: 40px;
}



.owl-next {
  height: 80px;
  width: 40px;
  cursor: pointer;
}



/* Owner Section */

.owner__section {
  background-color: #a7c957;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.owner__title--section {
  padding-top: 60px;
}

.owner__title {
  color: #f5f5f5;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

.owner__cards {
  display: flex;
  width: 100%;
  padding: 40px 0;
}

.owner__slides {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.owner__image {
  height: 700px;
  border: 4px solid #fefae0;
  border-radius: 40px;
  box-shadow: 2px 2px 10px black;
}

.owner__slide {
  border-radius: 20px;
  background-color: #fefae0;
  height: auto;
  min-height: 700px;
  width: calc(100%/4);
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: top;
  padding: 12px;
  text-align: center;
}

.owner__slide--text {
  font-weight: 400;
  font-family: "Roboto";
  font-size: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}



/* Quote Section */

.quote__section {
  background-image: url("./assets/whiteflowers.jpg");
  height: 70vh;
  color: #f5f5f5;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote__section h1 {
  margin-bottom: 48px;
  text-shadow: 1px 1px 10px black;
  font-size: 80px;
  text-align: center;
}

.quote__section .button {
  transform: scale(1.5)
}


/* Footer Section */

.footer__section {
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 100px;
}

.footer__logo {
  height: 80%;
}



.footer__link {
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin-right: 10px;
  transition: all 300ms ease;
}

.footer__link:hover {
  color: #a7c957;
  font-size: 20px;
}

.footer__design {
  border-top: 2px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: auto;
  margin-bottom: 10px;
}


/* 

About Page

*/


/* .service__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  overflow: hidden;
}

*/

.service__page--title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  border-radius: 20px;
  width: 100%;
  margin: 40px auto 0;
  margin-bottom: 40px;
}




.about__image {
  height: 500px;
  width: 450px;
  border: 6px solid #606c38;
  border-radius: 18px;
  border-radius: 10px;
  object-fit: cover;
  margin: 0 auto;
}



.service__bottom--section {
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.service__bottom--container {
  background-color: #a7c957;
  padding: 40px;
  border-radius: 20px;
  height: auto;
  min-height: 550px;
  width: calc(90%/3);
  box-shadow: 5px 5px 20px black;
  text-align: center;
  margin-bottom: 60px;
}

.service__sub--title {
  font-size: 28px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.service__list ul {
  list-style: none;
  text-align: left;
  font-size: 18px;
}

.service__list ul,
li,
strong {
  margin-bottom: 10px;
}

/* 

CONTACT

*/



.contact__container {
  margin: 70px auto;
  display: flex;
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55)
}

.contact__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contact__about {
  background-color: #606c38;
  color: #fff;
}

.contact__languages {
  display: flex;
  flex-wrap: wrap;
}

.contact__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.language__icon {
  width: 100%;
}

.contact__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.contact__language:hover .language__name {
  transform: scale(1);
}

.language__name {
  position: absolute;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.contact__title {
  font-size: 28px;
  text-align: center;
}

.contact__sub-title {
  margin: 12px 0 24px 0;
  font-size: 18px;
  text-align: center;
}

.contact__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

/* right side of the contact page */

.contact__submit {
  color: #606c38;
}

.form__item {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  background-color: #fff;
  color: #606c38;
  outline: none;
  border: 2px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input:hover,
textarea:hover {
  border-color: #dcdfe6;
}

input:focus,
textarea:focus {
  border-color: #a7c957;
}

.form__submit {
  background-color: #606c38;
  border: 2px solid #606c38;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #a7c957;
  background-color: #a7c957;
  cursor: pointer;
}

.form__submit:active {
  border-color: #c0c4cc;
  background-color: #c0c4cc;
}

/* success or fail message */

.success__fail--message {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #606c38;
}

.attempt__header {
  font-size: 2rem;
  margin-bottom: 30px;
}

.attempt__para {
  font-size: 1.2rem;
}

.e-link {
  color: #a7c957;
  text-decoration: none;
  transition: all 300ms ease;
}

.e-link:hover {
  font-weight: 700;
}

/* small phones, tablets, large smart phones */

@media (max-width:992px) {
  .nav__section {
    width: 850px;
  }

  .owner__image {
    height: 600px;
  }



  .owner__slide--text {
    font-size: 18px;
  }

  /* ABOUT PAGE */


  /* .service__img {
    width: 300px;
    height: 500px;
  } */

  .service__section {
    width: 100vw;
  }

  .service__bottom--section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .service__bottom--container {
    max-width: none;
    width: 80%;
  }

}

/* small phones, tablets, large smart phones */

@media (max-width:768px) {
  .nav__section {
    width: 700px;
  }

  .hero__left {
    margin-left: 40px;
  }

  .service__slide {
    width: 350px;
    height: 400px;
  }

  .service__image {
    width: 200px;
    height: 200px;
  }

  .owner__image {
    height: 600px;
  }

  .owner__section {
    width: 100%;
    height: auto;
  }

  .owner__slides {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
    height: auto
  }




  .owner__slide {
    height: 600px;
    width: 100%;
    margin: 40px 0 10px 0;
    box-shadow: 2px 2px 20px black;

  }

  .owner__slide--text {
    font-size: 18px;
  }

  /* ABOUT PAGE */

  /* .services__slides--about {
    width: 80%;
  } */
  /* .about__image {
  width: 300px;
  height: 500px;
} */

  .service__section {
    width: 100vw;
  }

  .service__bottom--section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .service__bottom--container {
    max-width: none;
    width: 80%;
  }

  /* Contact Page */

  .contact__container {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .contact__half {
    width: 100%;
  }

  .form__submit {
    margin: 20px auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .form__item {
    width: 100%;
  }

}

/* small phones, tablets, large smart phones */

@media (max-width:600px) {

  .nav__section {
    max-width: 500px;
  }

  .nav__logo--img {
    width: 250px;
  }

  .nav__links {
    display: none;
  }

  .hero__left {
    margin-left: 40px;
  }

  .service__slide {
    width: 350px;
    height: 400px;
    margin: 0 auto
  }

  .service__image {
    width: 200px;
    height: 200px;
  }

  .owner__image {
    height: 600px;
  }

  .owner__section {
    width: 100%;
    height: auto;
  }

  .owner__slides {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
    height: 1000px
  }

  .quote__section {
    align-items: center;
    text-align: center;
  }



  .owner__slide {
    height: 600px;
    width: 100%;
    margin: 40px 0 10px 0;
    box-shadow: 2px 2px 20px black;

  }

  .owner__slide--text {
    font-size: 18px;
  }

  /* ABOUT PAGE */


  /* .service__img {
    width: 300px;
    height: 500px;
    margin-left: 40px;
  } */

  .service__section {
    width: 100vw;
  }

  .service__bottom--section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .service__bottom--container {
    max-width: none;
    width: 80%;
  }

  /* Contact Page */

  .contact__container {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .contact__half {
    width: 100%;
  }

  .form__submit {
    margin: 20px auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
  }

  .form__item {
    width: 100%;
  }

  .footer__main {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px auto;
    height: 100px;
  }

  .footer__logo {
    display: none;
  }

  /* Burger Menu */

  .burger__menu {
    height: 50px;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-bar {
    width: 3em;
    height: 0.5em;
    background-color: #a7c957;
    border-radius: 0.5em;
    border: 2px solid black;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: #606c38;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -4;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(-50deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(-135deg) translate(0.5em, 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }



}

@media (max-width:450px) {
  .nav__section {
    width: 80%;
  }

  .nav__links {
    display: none;
  }

  .hero__title {
    font-size: 50px;
    margin-top: 200px;
  }

  .nav__link--component {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .button {
    font-size: 24px;
  }

  .hero__btn {
    font-size: 16px;
  }

  .nav__logo--img {
    width: 200px;
  }

  .hero__left {
    margin-left: 40px;
  }

  .services__section {
    height: auto;
  }

  .services__title {
    font-size: 40px;
  }

  .service__slide {
    width: 250px;
    height: 300px;
    margin: 0 auto
  }

  .service__title {
    font-size: 24px;
  }

  .service__image {
    width: 150px;
    height: 150px;
  }

  .owner__image {
    height: 600px;
  }

  .owner__section {
    width: 100%;
    height: auto;
  }

  .owner__title--section {
    text-align: center;
  }

  .owner__title {
    font-size: 48px;
  }

  .owner__slides {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 80%;
    height: auto;
  }

  .quote__section {
    align-items: center;
    text-align: center;
  }



  .owner__slide {
    height: auto;
    width: 100%;
    margin: 40px 0 10px 0;
    box-shadow: 2px 2px 20px black;
  }

  .owner__slide--text {
    font-size: 18px;
    padding: 20px;
  }

  .quote__section h1 {
    font-size: 50px;
  }

  .quote__section .button {
    font-size: 12px;
  }

  /* ABOUT PAGE */

  .service__page--title h1 {
    font-size: 40px;
  }

  /* .service__img {
    position: relative;
    left: -300px;
    width: 300px;
    height: 400px;
    margin: 0 auto
  } */

  .service__section {
    width: 100vw;
  }

  .service__bottom--section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .service__bottom--container {
    max-width: none;
    width: 80%;
    height: auto;
  }

  /* Contact Page */

  .contact__container {
    display: flex;
    flex-direction: column;
    height: 1150px;
  }

  .contact__title {
    font-size: 24px;
  }

  .contact__sub-title {
    font-size: 16px;
  }

  .contact__para {
    font-size: 14px;
  }

  .contact__half {
    width: 100%;
  }




  .form__submit {
    margin: 20px auto;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .form__item {
    width: 100%;
  }

  .form__item--label {
    font-size: 14px;

  }

  .form__submit {
    font-size: 14px;
  }

  .footer__main {
    display: flex;
    flex-direction: column-reverse;
    margin: 40px auto;
    height: 100px;
  }

  .footer__logo {
    display: none;
  }

  .footer__design {
    font-size: 12px;
    text-align: center;
  }

  /* BURGER MENU */

  .burger__menu {
    height: 50px;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
  }

  .burger-bar {
    width: 3em;
    height: 0.5em;
    background-color: #a7c957;
    border-radius: 0.5em;
    border: 2px solid black;
  }

  .menu {
    width: 100%;
    height: 100vh;
    background-color: #606c38;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -4;
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
  }


  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(-50deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(-135deg) translate(0.5em, 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  }

}